<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="img-bg">

        </div>

        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">

                    <h1 class="text-center">Cadastro</h1>

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]='profissional.nome' class="form-control" type="text" name="nome" id="nome"
                        placeholder="Seu nome">
                    </div>
                    <div class="form-group">
                        <label for="endereco">endereço</label>
                        <input [(ngModel)]='profissional.endereco' class="form-control" type="text" name="endereco" id="endereco"
                        placeholder="Seu endereco">
                    </div>
                    <div class="form-group">
                        <label for="nome">Celular</label>
                        <input [(ngModel)]='profissional.celular' class="form-control" type="text" name="celular" id="celular"
                        placeholder="Seu celular">
                    </div>
                    <div class="form-group">
                        <label for="nome">Residencial</label>
                        <input [(ngModel)]='profissional.residencial' class="form-control" type="text" name="residencial" id="residencial"
                        placeholder="Telefone Residencial">
                    </div>
                    <div class="form-group">
                        <label for="nome">Função</label>
                        <input [(ngModel)]='profissional.funcao' class="form-control" type="text" name="funcao" id="funcao"
                        placeholder="Sua função">
                    </div>
                    
                    <div class="dropdown">
                        <label class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Selecione os Estabelecimento
                        </label>
                        <div class="dropdown-menu" style="padding: 10px" id="myDiv" aria-labelledby="dropdownMenuButton">
                            <li *ngFor="let esta of listaEstabelecimento"><p><input (change)='pEstabelecimento($event)' class="check" type="checkbox" value="esta.id_estabelecimento" name="{{esta.id_estabelecimento}}" >{{esta.nome}}</p></li>

                            <button class="btn btn-success" routerLink='/cadastrar-esta'>Cadastrar Estabelecimentos</button>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center">
                          <button type="submit" class="btn btn-danger mr-4" routerLink='/inicio'>Cancelar</button>
                          <button type="submit" class="btn btn-success" (click)='cadastrar()'>Cadastrar</button>
                      </div>

                </div>

            </div>
        </div>
    </div>
</div>
